#!/usr/bin/make -f
# -*- makefile -*-

export PATH   := $(shell sh -c "[ -d /opt/go ] && echo \"/opt/go/bin:${PATH}\" || echo \"${PATH}\"")
export GOROOT := $(shell sh -c "[ -d /opt/go ] && echo /opt/go || echo")
export GOPATH=/tmp

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zgzip
